warthog_samba_secrets
# Symlink to a version-controlled machine config definition. This is symlinked for a specific install, so shouldn't be version controlled.
machine_config_instance.nix
secrets/
# The output symlink from e.g. `nixos-rebuild dry-activate`.
result

