{
    email hnefatl@gmail.com
    servers {
        trusted_proxies static 10.20.0.1 10.20.10.1 fdf3:685c:acae:10::1 2a01:4b00:bd20:7010::1
        trusted_proxies_strict
    }
}

(authelia) {
    forward_auth localhost:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}
(internal_only) {
    @denied not client_ip private_ranges 2a01:4b00:bd20:7000::/56
    error @denied "Permission Denied" 403
}

auth.warthog.keith.collister.xyz {
    reverse_proxy localhost:9091
}

https://prometheus.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:9090
}

https://ha.keith.collister.xyz {
    reverse_proxy localhost:8123
}
https://esphome.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:6052
}

https://router.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy [fdf3:685c:acae:1::1]:80
}
https://ap1.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy [fdf3:685c:acae:1::2]:80
}
https://ap2.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy [fdf3:685c:acae:1::3]:80
}
https://tvswitch.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy [fdf3:685c:acae:1::4]:80
}

https://plex.warthog.keith.collister.xyz {
    reverse_proxy localhost:32400
}
https://jellyfin.warthog.keith.collister.xyz {
    reverse_proxy localhost:8096
}
https://qbittorrent.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    # IPv4 only.
    reverse_proxy 127.0.0.1:8097
}
https://radarr.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:7878
}
https://sonarr.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:8989
}
https://prowlarr.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:9696
}
https://bazarr.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:6767
}
https://mealie.warthog.keith.collister.xyz {
    import authelia
    # Specifically ipv4, mealie doesn't bind to ipv6
    reverse_proxy 127.0.0.1:9001
}
https://people-display-exporter.warthog.keith.collister.xyz {
    # Necessary to start connection w/ http2, not http1.1 then upgrade.
    # The rust grpc server doesn't speak http1.1, so fails otherwise.
    reverse_proxy 127.0.0.1:12364 {
        transport http {
            versions h2c
        }
    }
}
https://miniflux.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:7195
}

https://octoprint.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    # If clients can be ipv6, octoprint must disable crossorigin in `config.yaml` API settings.
    # Otherwise WSS has ipv4/6 conflicts and rejects requests.
    reverse_proxy 10.20.10.97:80
}
https://bambuddy.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    # If clients can be ipv6, octoprint must disable crossorigin in `config.yaml` API settings.
    # Otherwise WSS has ipv4/6 conflicts and rejects requests.
    reverse_proxy localhost:8659
}
https://zigbee2mqtt.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:3472
}
https://music-assistant.warthog.keith.collister.xyz {
    import authelia
    import internal_only
    reverse_proxy localhost:8095
}
